@*@model IndexSortViewModel
    @using ProjectCake.Models*@
@using ProjectCake.Code


@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/StyleAdminIndex.css" />
}



<div class="top-buffer"></div>
<h1>Admin panel</h1>
<div class="panel panel-primary" id="panel">
    <div class="panel-heading panel-head">Cakes List</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditBookModal" data-toggle="modal" asp-action="AddEditProduct" data-target="#modal-action-product" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Product
            </a>
        </div>
        @Html.Partial("_Filter")
        <table class="table table-bordered table-striped table-condensed" id="tbl">
            <thead>
                <tr>
                    <th>
                        <a asp-action="AdminIndex" asp-route-sortOrder="@(Model.SortViewModel.CategorySort)"
                           asp-route-name="@(Model.FilterViewModel.SelectedName)"
                           asp-route-company="@(Model.FilterViewModel.SelectedCategory)">Category</a>
                    </th>
                    <th>
                        <a asp-action="AdminIndex"
                           asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                           asp-route-name="@(Model.FilterViewModel.SelectedName)"
                           asp-route-company="@(Model.FilterViewModel.SelectedCategory)">Name</a>
                    </th>
                    <th>
                        <a asp-action="AdminIndex" asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
                           asp-route-name="@(Model.FilterViewModel.SelectedName)"
                           asp-route-company="@(Model.FilterViewModel.SelectedCategory)">Price</a>
                    </th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model.Products)
                {
                    <tr>
                        <td>@u.Category.Name</td>
                        <td>@u.Name</td>
                        <td>@u.Price₴</td>
                        <td id="break">@u.Description</td>
                        <td>@u.Date</td>
                        <td>
                            <img src="@u.ImageProd" alt="Image" />
                        </td>
                        <td>
                            <a id="editProductModal" data-toggle="modal" asp-action="AddEditProduct" asp-route-id="@u.Id" data-target="#modal-action-product"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i> Edit
                            </a>
                            <div id="div1"></div>
                            <a id="deleteProductModal" data-toggle="modal" asp-action="DeleteProduct" asp-route-id="@u.Id" data-target="#modal-action-product" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="AdminIndex"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="AdminIndex"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-product", AreaLabeledId = "modal-action-product-label", Size = ModalSize.Medium })
@section scripts
    {
    <script src="~/js/product-index.js" asp-append-version="true"></script>
}



















