@model IndexSortViewModel
@using ProjectCake.Models
@*@section Styles {
        <link rel="stylesheet" href="~/css/RatingStars.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    }*@
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Project Cake</p>
            <div class="list-group">
                @Html.Partial("_Filter")
                @*<a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>*@
            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/images/cake1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/images/cake2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/images/cake3.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="list">


                    @foreach (var item in Model.Products)
                    {

                        <div class="col-sm-4 col-lg-4 col-md-4" style="margin-top:20px;">
                            <div class="thumbnail" style="width:260px; height:405px;">
                                <img src="https://bit.ly/2MHBpAp" alt="Image" style="width: 200px;" srcset="@item.ImageProd" />
                                <div class="caption">
                                    <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Price) ₴</h4>
                                    <h4>
                                        @Html.ActionLink(item.Name, "DetailProd", "Product", new { id = item.Id })
                                    </h4>
                                    <div style="overflow:hidden; height:180px;">
                                        <p>@item.Description</p>
                                    </div>

                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            @*<section>
            <button id="list-button-previous" class="btn btn-primary">Previous</button>
            <button id="list-button-next" class="btn btn-primary col-md-offset-1">Next</button>
        </section>*@

            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-sortorder="@(Model.SortViewModel.Current)"
                   class="btn btn-default btn">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Back
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-sortorder="@(Model.SortViewModel.Current)"
                   class="btn btn-default btn">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }



        </div>
    </div>
</div>





@*@section Scripts {
        <script src="~/js/list.js"></script>
    }*@